@font-face { font-family: nexa-heavy; src: url(../assets/fonts/Nexa-Heavy.woff2); font-weight: 900; font-display: swap; }
@font-face { font-family: nexa-extralight; src: url(../assets/fonts/Nexa-ExtraLight.woff2); font-weight: 400; font-display: swap; }
