/* Header css start */
.header { position: fixed; top: 0; left: 50%; transform: translateX(-50%); width: 100%; background-color: transparent; backdrop-filter: blur(0px); transition: all 0.5s linear; z-index: 1000; display: flex; justify-content: center; max-width: 1620px; transform-origin: center center; }
.header .header_inner { width: 100%; padding: 15px; }
.header_nav--dark a:not(.cta) { color: #000; -webkit-text-stroke: 0.5px #000; }
.header.header_nav--dark a.cta { border: 2px solid #fff; background: transparent; transition: background 0.3s linear; }
.header.header_nav--dark a.cta:hover { background: #000; border-color: transparent; }
.header .header_brand_logo img { max-width: 65px; width: 100%; transition: all 0.3s linear; }
.header.scrolled .header_brand_logo img { max-width: 50px; width: 100%; transition: all 0.3s linear; }
.header.scrolled .header_inner { padding: 12px 12px 12px 25px; }
.header .header_inner .header_content { display: flex; align-items: center; justify-content: space-between; }
.header .header_inner .header_content .header_navigations_links { display: flex; justify-content: space-between; width: 100%; align-items: center; }
.site_navigation--item { flex: 1 1 100%; }
.header .header_inner .header_content .header_navigations_links .cta_main { text-align: right; }
.header_navigations_links ul { display: flex; align-items: center; transition: 0.5s all linear; transform-origin: center center; font-size: clamp(16px, 2.4vw, 22px); }
.header_navigations_links ul li { width: 100%; }
.header_navigations_links ul li a { width: fit-content; margin: 0 auto; padding: 0 15px; }
.header.scrolled .header_navigations_links ul { font-size: clamp(14px, 2vw, 18px); }
.has_active--effect { position: relative; }
.has_active--effect.isActive::after,
.has_active--effect:hover::after { transform-origin: left; transform: scaleX(1); }
.has_active--effect::after { content: ""; position: absolute; width: 100%; height: 1px; background-color: #fff; border-radius: 40px; transform: scaleX(0); left: 0px; bottom: -2px; transform-origin: right; transition: transform 0.5s ease; }
.header_nav--dark .has_active--effect::after { background-color: #000; }
.header .menu-toggle,
.off-canvas-menu { display: none; }
.off-canvas-menu ul { margin: 0; padding: 0; list-style: none; flex-grow: 1; text-align: center; }
.off-canvas-menu ul li { transform: translateY(20%); visibility: hidden; opacity: 0; transition: 0.5s linear all; transition-delay: 10ms; }
.off-canvas-menu.active ul li { transform: translateY(0%); visibility: visible; opacity: 1; }
.off-canvas-menu ul li { padding: 15px; }
.off-canvas-menu .cta_main { padding: 15px; background-color: #444; }
.off-canvas-menu .cta { color: white; text-decoration: none; font-weight: bold; }
.off-canvas-menu.active { transform: translateY(0%); }
.menu-close { background: none; border: none; font-size: 2em; color: white; cursor: pointer; }
.header a { color: #fff; height: 100%; display: block; font-weight: 400; }
.header a.cta { font-weight: 600; width: fit-content; margin: 0 0 0 auto; background: radial-gradient(circle at 10% 10%, black 20%, blue 50%, aqua 90%); background-size: 100%; border-radius: 50px; padding: clamp(10px, 1.4vw, 17px) clamp(15px, 1.8vw, 23px); display: flex; justify-content: center; align-items: center; background-position: 10% 10%; transition: all 0.5s linear; font-size: clamp(16px, 2.3vw, 20px); }
.header.scrolled a.cta { font-size: clamp(14px, 1.6vw, 18px); padding: 15px 13px; }
.header a.cta:hover { background-position: 90% 90%; background-size: 120%; }
.cta span { display: flex; }
.cta span img { margin-left: 15px; }
/* Header css end */
.site_top--area .site_top--area_inner { display: flex; gap: clamp(25px, 3.8vw, 60px); justify-content: center; align-items: center; flex-direction: column; min-height: 100svh; }
.site_top--area .site_top--area_inner p { max-width: 791px; text-align: center; width: 100%; }
.site_cta--outline .site_cta--outline__a { position: relative; z-index: 2; padding: clamp(10px, 1.2vw, 15px) clamp(15px, 1.2vw, 30px); display: flex; font-weight: 900; color: #fff; align-items: center; gap: 22px; font-size: clamp(14px, 1.2vw, 18px); }
.site_cta--outline .site_cta--outline__a span { display: flex; }
.siteVelocity__slider--Container { width: 100%; height: 100%; overflow: hidden; flex-direction: column; display: flex; justify-content: center; align-items: center; row-gap: clamp(20px, 5vw, 50px); overflow: hidden; }
.siteVelocity__slider { display: flex; align-items: center; gap: 20px; white-space: nowrap; overflow: hidden; }
.siteVelocity__slider .siteVelocity__sliderImage { width: clamp(160px, 40vw, 200px); }
.text-item { font-size: clamp(38px, 13vw, 120px); line-height: normal; text-align: center; padding-right: 50px; text-transform: uppercase; font-family: "Nexa-Heavy", sans-serif; }
.project_content--items { display: flex; justify-content: center; align-items: center; gap: clamp(40px, 4vw, 50px); flex-wrap: wrap; position: relative; }
.project_content-item { flex: 1 1 40%; min-width: 200px; will-change: transform, opacity; position: relative; transition: transform 0.3s ease; display: flex; flex-direction: column; gap: 27px; }
.project_img--mian { border-radius: clamp(20px, 3vw, 50px); width: 100%; overflow: hidden; display: flex; }
.project_img { width: 100%; height: auto; transition: 0.7s all ease-in-out; }
.projects_content { position: relative; z-index: 2; }
.projects_content :is(*) { transition: .2s all linear; }
.projects_content .project_title { margin-bottom: 22%; }
.background_light :is(*) { color: #000; }
.background_light :is(.project_link--area img) { filter: invert(1); }
#projects { --scale: 0.95; position: relative; padding-top: clamp(30px, 6vw, 100px); }
#projects::before { content: ''; position: absolute; top: 0px; left: 0px; width: 100%; height: 90%; border-radius: 30px; background-color: #fff; scale: var(--scale); }
.project_text--area { display: flex; justify-content: space-between; width: 100%; }
.project_content-item.is_view { transform: translateY(0px); }
.craft { display: flex; width: 100%; padding: 200px 0% 0 0; justify-content: space-between; }
.craft .craft-left { display: flex; }
.craft .craft-left .craft_left--sticky--area { max-width: 590px; align-self: flex-start; position: sticky; position: -webkit-sticky; top: 10rem; }
.craft .craft-right { padding: 290px 0px; }
.craft .craft-right .right-inner { display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 30px; max-width: 650px; width: 100%; }
.craft .craft-right .right-inner .right-box { border: 1px solid #000; padding: 20px; text-align: left; opacity: 0; }
.craft .craft-right .right-inner .right-box h3 { margin-bottom: 15px; }
.craft .craft-right .right-inner .right-box h3.has__heighlight--clr { background: radial-gradient(circle at 0% 0%, aqua 8%, blue 50%, #ffffff 0%); background-clip: text; }
.site_title--container { text-align: center; margin-bottom: clamp(40px, 4vw, 80px); display: flex; align-items: flex-start; }
.site_title--container.site_title-column { flex-direction: column; gap: 30px; }
.site_title--container.site_title-column :is(.site_section--title, .site_section--decs) { flex: none; }
.site_title--container :is(.site_section--title, .site_section--decs) { flex: 100%; text-align: left; }
.skills_icon--area { display: flex; flex-wrap: wrap; width: 100%; justify-content: space-between; row-gap: clamp(30px, 7vw, 150px); }
.skills_icon--area .skills_icon { flex: 25%; justify-content: space-between; display: flex; align-items: center; flex-direction: column; row-gap: 20px; }
.skills_icon--area .skills_icon .skill { max-width: clamp(60px, 11vw, 100px); width: 100%; }
.skills__Label { font-size: clamp(14px, 0.8vw, 16px); letter-spacing: 2px; text-align: center; background-color: #444; padding: 5px 20px; border-radius: 500px; font-weight: 900; }
.site_footer-container { max-width: 1500px; margin: 0 auto; width: 100%; padding: clamp(25px, 3.3vw, 50px) clamp(25px, 4vw, 50px) 0px; display: flex; flex-wrap: wrap; row-gap: clamp(30px, 4.8vw, 70px); }
.site_footer-container .site_navigation--item { flex: 50%; }
.site_footer-left img { max-width: clamp(150px, 15vw, 240px); width: 100%; }
.site_footer-nav { width: 100%; display: flex; flex-direction: column; gap: 20px; }
.site_footer-nav a { color: #fff; font-size: clamp(14px, 1.8vw, 18px); }
.site_footer-nav--links.contact-section { display: flex; justify-content: space-between; align-items: center; max-width: 80%; width: 100%; }
.site_footer-right { display: flex; justify-content: space-between; align-items: stretch; }
.site_footer { margin-top: clamp(40px, 5.2vw, 100px); border-top: 1px solid #fff; }
.contact--page_container+.error-popup+.site_footer { margin-top: 0px; }
.site_footer-bottom { display: flex; justify-content: space-between; padding: 20px 0px; }
.site_footer-bottom a { display: flex; }
.site_footer-bottom a img { width: 100%; }
/* __________________________________________CONTACT PAGE CSS START__________________________________________ */
.contact--page_inner { display: flex; justify-content: center; align-items: stretch; color: #000; }
.contact--page_inner .contact--page__left { flex: 80%; display: flex; flex-direction: column; row-gap: 50px; justify-content: center; align-items: flex-start; padding: clamp(30px, 8vw, 150px) clamp(30px, 8vw, 150px); }
.contact--page_inner .contact--page__left .contact--page_title { font-size: clamp(26px, 4vw, 48px); }
.contact--page_inner .contact--page__left .contact--page-subtitle { font-size: clamp(16px, 1.8vw, 22px); margin-bottom: 40px; }
.contact--page_inner .contact--page__right { flex: 30%; display: flex; }
.form_submit--btn { -webkit-text-stroke: 0.9px #fff; }
.form_submit--btn:hover { -webkit-text-stroke: 0.9px #000; }
/* __________________________________________CONTACT PAGE CSS END__________________________________________ */
span.has-splitting-line { display: inline-block; }
.projectAnchored__item { display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 29px; color: #fff; transition: 0.2s all linear; }
.projectAnchored__item:hover .project_img { scale: 1.1; }
.has_scroll--speed__element { will-change: transform; backface-visibility: hidden; transform: translateZ(0); }
#customCursor { position: fixed; width: 0px; height: 0px; font-size: 0px; border-radius: 50%; background-color: #00000080; backdrop-filter: blur(3px); -webkit-backdrop-filter: blur(3px); pointer-events: none; z-index: 1000; transition: all 0.1s linear; will-change: transform; display: flex; justify-content: center; align-items: center; color: #fff; overflow: hidden; transform-origin: center center;}
#customCursor.hovering { width: 80px; height: 80px; font-size: 16px;}



.page_banner {
  height: 70vh;
  position: relative;
  overflow: hidden;
}

.halo-container {
  position: absolute;
  left: -600px;
  right: -600px;
  top: -3rem;              
  height: 500px;
  display: flex;
  opacity: 0.5;              
  pointer-events: none;      

  -webkit-mask-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  mask-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.halo-container > div {
  flex-grow: 1;
  transition: opacity 1s ease-in-out;
}

.halo-container > div:not(.loaded .halo-container > div){
    opacity: 0;
}

/* Left cone */
.halo-container > div:first-child {
  background: conic-gradient(
    from 90deg at 35% -1% in lab,
    rgb(255, 255, 255)    7.2deg,
    rgb(156, 184, 221)   14.4deg,
    rgba(17, 17, 17, 0)   36deg,
    rgba(17, 17, 17, 0)  342deg,
    rgb(255, 255, 255)   360deg
  );
}

/* Right cone */
.halo-container > div:last-child {
  background: conic-gradient(
    from -90deg at 65% -1% in lab,
    rgb(255, 255, 255)      0deg,
    rgba(17, 17, 17, 0)    18deg,
    rgba(17, 17, 17, 0)   324deg,
    rgb(156, 184, 221)   345.6deg,
    rgb(255, 255, 255)   352.8deg
  );
}

.site_section--right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cta_secondry .cta .has_active--effect::after{
  background-color: #000;
}
.cta_secondry .cta {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  min-width: fit-content;
}

.banner_inner {
  height: 100%;
  padding: 50px 30px;
}

.banner_content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap:50px;
  text-align: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.banner_decs.has_splitting--effect {
  max-width: 600px;
  width: 100%;
}
.project_img{
aspect-ratio: 1/1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.worktogether_section{
  padding: 100px 0 0;
}
.worktogerther_inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.workTogether_content {
  aspect-ratio: 1/0.58;
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  padding: 20px 50px;
}

.workTogether_decs.site_section--decs.has_splitting--effect {
  max-width: 650px;
  width: 100%;
  margin-bottom: 20px;
}